.grid-basic-page{
  ion-col div {
    padding: 5px;
    text-align: center;
    border-bottom: 1px;
    background-color: rgba(105,105,105,1);
  }

  .bg-button{
    background-color: rgba(236,236,236,0.1);
    padding-bottom: 0;
    padding-top: 0;
  }

  .custom-row>ion-col{
    text-align: center;
  }

  ion-col:nth-child(even){
    padding-left: 0;
    padding-right: 0;
    margin: 0 -3px;
  }

  span{
    color: #fff;
  }

  .barGraph{
    height:600px;
  }

  .courseScore{
    width: 600px;
    height: 400px;
  }
}
