#article_title 
{
    padding: 0 1rem;
    color: #2d2d2d;
}
			
#article_auth {
    padding: 0 1rem;
    color: #999999;
}
			
#article_content {
    // padding: 0 1rem;
    color: #999999;
    overflow-y: auto;
}