page-mine{

    .login_bg{
        background-color: #091D37;
        height: 150px;
        text-align: center;
    }

                .login_img{
                border-radius: 25px;
                height: 50px;
                width: 50px;
                margin-top: 20px;
            }
                .login_btn{ 
                border: 1px solid #fff;  
                height: 2.4rem; 
                line-height: 2.4rem; 
                font-size: 1.2rem; 
                width: 105px; 
                display:block; 
                overflow: hidden; 
                border-radius: 4px;
                color: #fff;
                margin: auto;
                margin-top: 20px;
                }

            .login_txt{
                display: block;
                color: #fff;
                margin-top: 20px;
                font-size: 1.2rem; 
                }
            

// *{
//                 font-size: 1.2rem;
// }


// .item-md.activated{
//         background-color: #091D37;
// }

}