<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-qiniu" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Qiniu</name>
    <js-module name="Qiniu" src="www/qiniu.js">
        <clobbers target="Qiniu" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Qiniu">
                <param name="ios-package" value="CDVQiniu"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVQiniu.h" />
        <source-file src="src/ios/CDVQiniu.m" />
    </platform>
</plugin>
